@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
#header .logo {
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}
#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
  transition: 0.5s ease;
}
#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: #fff;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#hero #text {
  position: absolute;
  color: #094b65;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
}

#hero #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

#explore {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: #094b65;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  border: 1px #fff solid;
  transform: translateY(100px);
  transition: 0.5s background-color ease;
}

#explore:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.skills {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 76px 40px;
  background: #094b65;
}

.skills img {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.skills img:hover {
  transform: rotateZ(20deg);
  transition: transform 0.5s ease;
}

#wave-section {
  height: 100px;
  background-color: #094b65;
}

.wave {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position: 400px;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position: 300px;
}

.wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  background-position: 200px;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  background-position: 100px;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

.sec {
  position: relative;
  padding: 100px;
  background: #fff;
}

.sec h2 {
  font-size: 3.5em;
  color: #000;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: #000;
}

/**/

#about-section {
  margin-bottom: 70px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  text-align: left;
  max-width: 500px;
  padding: 25px 50px 80px 50px;
  box-shadow: 0 20px 50px -20px rgb(0 0 0 / 50%);
  margin-top: 50px;
}

.about h1 {
  color: black;
  font-size: 3.3333rem;
  font-weight: 500;
  line-height: 1.3;
}

.about h5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.about a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8125rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.9375rem 1.875rem;
  background-color: #ede947;
  border-radius: 50px;
  line-height: 1;
  color: black;
}

.left h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}

/**/

.arrow {
  margin-bottom: 20px;
}

.blue {
  color: #29b6f6;
}

.green {
  color: #9ccc65;
}

.purple {
  color: #ba68c8;
}

.cyan {
  color: #4dd0e1;
}

.red {
  color: #ef5350;
}

.card {
  cursor: pointer;
  perspective: 150rem;
  height: 15rem;
  width: 30rem;
  position: relative;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

.card-side {
  height: 15rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 30rem;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  color: #fff !important;
}

.front {
  background-color: #1c1c1c;
}

.back {
  transform: rotateY(180deg);
  background-color: #1c1c1c;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card-content {
  height: 15rem;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content p {
  margin-left: 1rem;
}
.card-content p > .space {
  margin-left: 2rem;
}
