@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

/*header*/

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10000;
}
#header .logo {
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}
#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
  transition: 0.5s ease;
}
#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: #fff;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#hero #text {
  position: absolute;
  color: #094b65;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
}

#hero #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

#explore {
  font-family: consolas;
  display: inline-block;
  padding: 20px 50px 20px 40px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 50px;
  transform: translateY(100px);
}

#explore span {
  position: relative;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 8px;
}

#explore .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #3090A5;
  opacity: 0.8;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}

#explore:hover .liquid {
  top: -120px;
  opacity: 1;
  background: #06566E;
}

#explore .liquid:before, a .liquid:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

#explore .liquid:before {
  border-radius: 45%;
  background: rgba(235,235,235,1);
  animation: animate 5s linear infinite;
}

#explore .liquid:after {
  border-radius: 40%;
  background: rgba(235,235,235,0.5);
  animation: animate-explore 10s linear infinite;
}

@keyframes animate-explore {
  0% {
      transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*skills*/

.skills {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 76px 40px;
  background: #094b65;
}

.skills img {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.skills img:hover {
  transform: rotateZ(20deg);
  transition: transform 0.5s ease;
}

/*1st wave*/

#wave-section {
  height: 100px;
  background-color: #094b65;
}

.wave {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
  animation: animate-wave 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position: 400px;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position: 300px;
}

.wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  background-position: 200px;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  background-position: 100px;
}

@keyframes animate-wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

.sec {
  position: relative;
  padding: 100px;
  background: #fff;
}

.sec h2 {
  font-size: 3.5em;
  color: #000;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: #000;
}

/*about section*/

#about-section {
  margin-bottom: 70px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  text-align: left;
  max-width: 500px;
  padding: 25px 50px 80px 50px;
  box-shadow: 0 20px 50px -20px rgb(0 0 0 / 50%);
  margin-top: 50px;
}

.about h1 {
  color: black;
  font-size: 3.3333rem;
  font-weight: 500;
  line-height: 1.3;
}

.about h5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.about a {
  font-family: "Montserrat", sans-serif;
  display: block;
  position: relative;
  padding: 1.3rem 2rem;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #00aeff;
  overflow: hidden;
  cursor: pointer;
  width: 65%;
  box-shadow: inset 0 0 50px rgba(235,235,235,0.9);
  transition: box-shadow 0.5s;
}

.about a:hover {
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.about a span {
  position: relative;
  z-index: 1;
  transition: 1s;
}

.about a:hover span {
  color: #fff;
}

.about a .wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
}

.about :hover .wave {
  top: 35%;
}

.about a .wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(./img/wave-button.png);
  animation: animate-button 0.7s linear infinite;
}

@keyframes animate-button {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 118px;
  }
}

.left h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}

/*card*/

.arrow {
  margin-bottom: 20px;
}

.blue {
  color: #29b6f6;
}

.green {
  color: #9ccc65;
}

.purple {
  color: #ba68c8;
}

.cyan {
  color: #4dd0e1;
}

.red {
  color: #ef5350;
}

.card {
  cursor: pointer;
  perspective: 150rem;
  height: 15rem;
  width: 30rem;
  position: relative;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

.card-side {
  height: 15rem;
  transition: 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 30rem;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  color: #fff !important;
}

@media only screen and (max-width: 30rem) {
  .card, .card .card-side {
    width: 100vw;
  }
}

.front {
  background-color: #1c1c1c;
}

.back {
  transform: rotateY(180deg);
  background-color: #1c1c1c;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card-content {
  height: 15rem;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content p {
  margin-left: 1rem;
}
.card-content p > .space {
  margin-left: 2rem;
}
