@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

/*header*/

#header {
  position: absolute;
  height: 75px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10000;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
#header #logo {
  color: #094b65;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}
#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
  transition: 0.5s ease;
}
#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: #fff;
}

@media (max-width: 992px) {
  #header {
    padding: 20px;
  }
  #header #logo {
    font-size: 1.5em;
  }
  #header ul {
    display: none;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .toggle i.menu {
  color: #094b65;
  font-size: 25px;
  cursor: pointer;
  }
  .toggle i.close {
  color: #094b65;
  font-size: 25px;
  cursor: pointer;
  display: none;
  }
  toggle.activate i.menu{
    display: none;
  }
}

/*hero*/

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#hero #text {
  position: absolute;
  color: #094b65;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
}

#hero #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

#explore {
  font-family: consolas;
  display: inline-block;
  padding: 20px 50px 20px 40px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 50px;
  transform: translateY(100px);
}

#explore span {
  position: relative;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 8px;
}

#explore .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #3090A5;
  opacity: 0.8;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}

#explore:hover .liquid {
  top: -120px;
  opacity: 1;
  background: #06566E;
}

#explore .liquid:before, a .liquid:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

#explore .liquid:before {
  border-radius: 45%;
  background: rgba(235,235,235,1);
  animation: animate 5s linear infinite;
}

#explore .liquid:after {
  border-radius: 40%;
  background: rgba(235,235,235,0.5);
  animation: animate-explore 10s linear infinite;
}

@keyframes animate-explore {
  0% {
      transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -75%) rotate(360deg);
  }
}

/*skills*/

.skills {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 76px 40px;
  background: #094b65;
}

.skills img {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.skills img:hover {
  transform: rotateZ(20deg);
  transition: transform 0.5s ease;
}

/*1st wave section*/

#wave-section {
  height: 100px;
  background-color: #094b65;
}

.wave {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
  animation: animate-wave 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position: 400px;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position: 300px;
}

.wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  background-position: 200px;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  background-position: 100px;
}

@keyframes animate-wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

/*about section*/

#about-section {
  padding-top: 70px;
  padding-bottom: 170px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.about {
  text-align: left;
  max-width: 500px;
  padding: 25px 50px 80px 50px;
  box-shadow: 0 20px 50px -20px rgb(0 0 0 / 50%);
  margin-top: 50px;
}

.about h1 {
  color: #094b65;
  font-size: 3.3333rem;
  font-weight: 500;
  line-height: 1.3;
}

.about h5 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.about a {
  font-family: "Montserrat", sans-serif;
  display: block;
  position: relative;
  padding: 1.3rem 2rem;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #000;
  overflow: hidden;
  cursor: pointer;
  width: 65%;
  box-shadow: inset 0 0 50px rgba(235,235,235,0.9);
  transition: box-shadow 0.5s;
}

.about a:hover {
  transition: box-shadow 0.5s;
}

.about a span {
  position: relative;
  z-index: 1;
  transition: 1s;
}

.about a:hover span {
  color: #fff;
}

.about a .wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
}

.about a:hover .wave {
  top: 35%;
}

.about a .wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(./img/wave-button.png);
  animation: animate-button 0.7s linear infinite;
}

@keyframes animate-button {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 118px;
  }
}

.right h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}

/*card*/

.arrow {
  margin-bottom: 20px;
}

.blue {
  color: #29b6f6;
}

.green {
  color: #9ccc65;
}

.purple {
  color: #ba68c8;
}

.cyan {
  color: #4dd0e1;
}

.red {
  color: #ef5350;
}

.card {
  cursor: pointer;
  perspective: 150rem;
  height: 15rem;
  width: 30rem;
  position: relative;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

.card-side {
  height: 15rem;
  transition: 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 30rem;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  color: #fff !important;
}

@media only screen and (max-width: 30rem) {
  .card, .card .card-side {
    width: 100vw;
  }
}

.front {
  background-color: #1c1c1c;
}

.back {
  transform: rotateY(180deg);
  background-color: #1c1c1c;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.card-content {
  height: 15rem;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content p {
  margin-left: 1rem;
}
.card-content p > .space {
  margin-left: 2rem;
}

/*services*/

#services {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#094b65, #12314e);
}

.services-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  padding-bottom: 100px;
}

.services-container .services-card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

.services-container .services-card .services-content {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.services-container .services-card .services-content h2 {
position: absolute;
top: -100px;
right: 30px;
font-size: 8em;  
color: rgba(255,255,255,0.05);
pointer-events: none;
}

.services-container .services-card .services-content h3 {
  font-style: 1.8em;
  color: #fff;
  z-index: 1;
}

.services-container .services-card .services-content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.services-container .services-card .services-content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/*complements*/

#complements {
    position: relative;
    min-height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
}

#complements .title {
    margin-top: 120px;
    color: #094b65;
}

#complements h1, #complements h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#complements h2 {
    line-height: 2;
    font-size: 1.2rem;
}

#complements h1 {
    line-height: 1.3;
    font-size: 2.333333rem;
}

.complements-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.complements-card-container {
    background-color: #fff;
    margin: 20px;
    padding: 25px 25px 55px;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 0px 0px 55px -10px rgb(93 114 128 / 40%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 0 0%;
}

.complements-card-container .icon {
    fill: #094B65;
    color: #094B65;
    padding: 30px;
}

.complements-card-container h4 {
    font-size: 1.4rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin-bottom: 10px;
}

.complements-card-container p {
    font-family: 'Montserrat', sans-serif;
    color: #5d7280;
    word-wrap: break-word;
    line-height: 1.9;
    font-size: 15px;
    letter-spacing: 1.1px;
    font-weight: 400;
}

/*testimonial*/
#testimonial {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #094b65;
  overflow: hidden;
  padding-bottom: 50px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background: #d1ebff;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  filter: blur(4px);
  border-radius: 10px;
}

.swiper-slide-active {
  filter: blur(0px);
  background: #fff;
}

.testimonialBox {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
}

.testimonialBox .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.2;
}

.testimonialBox .details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonialBox .details .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.testimonialBox .details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialBox .details h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #2196f3;
  line-height: 1.1em;
}

.testimonialBox .details h3 span {
  font-size: 12px;
  color: #666;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/*2nd wave section*/

#wave-section-2 {
  height: 100px;
  background-color: #094b65;
}

#wave-section-2 .wave {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./img/wave.png);
  background-size: 1000px 100px;
}

#wave-section-2 .wave#wave1 {
  animation: animate2-wave1 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 1;
}

@keyframes animate2-wave1 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

#wave-section-2 .wave#wave2 {
  animation: animate2-wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10;
}

@keyframes animate2-wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

#wave-section-2 .wave#wave3 {
  animation: animate2-wave3 5s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

@keyframes animate2-wave3 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

#wave-section-2 .wave#wave4 {
  animation: animate2-wave4 10s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20;
}

@keyframes animate2-wave4 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

/*contact*/

#contact {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 200px;
}

#contact .container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1;
}

#contact .container .contact-info {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #094B65;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 20px 1px rgba(0,0,0,0.15);
}

#contact .container .contact-info h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

#contact .container .contact-info ul.info {
  position: relative;
  margin: 20px 0;
  padding-left: 0px;
}

#contact .container .contact-info ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;

}

#contact .container .contact-info ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

#contact .container .contact-info ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}

#contact .container .contact-info ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

#contact .container .contact-info ul.sci {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
}

#contact .container .contact-info ul.sci li {
  list-style: none;
  margin-right: 15px;
}

#contact .container .contact-info ul.sci li a {
  text-decoration: none;
}

#contact .container .contact-info ul.sci li a img {
  filter: invert(1);
}

#contact .container .contact-form {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  box-shadow: 0 1px 50px 1px rgba(0,0,0,0.25);
}

#contact .container .contact-form h2 {
  color: #094B65;
  font-size: 24px;
  font-weight: 500;
}

#contact .container .contact-form .form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

#contact .container .contact-form .form-box .input-box {
  position: relative;
  margin-bottom: 35px;
}

#contact .container .contact-form .form-box .input-box.w50 {
  width: 47%;
}

#contact .container .contact-form .form-box .input-box.w100 {
  width: 100%;
}

#contact .container .contact-form .form-box .input-box input,
#contact .container .contact-form .form-box .input-box textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

#contact .container .contact-form .form-box .input-box textarea {
  height: 120px;
}

#contact .container .contact-form .form-box .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

#contact .container .contact-form .form-box .input-box input:focus ~ span,
#contact .container .contact-form .form-box .input-box textarea:focus ~ span,
#contact .container .contact-form .form-box .input-box input:valid ~ span,
#contact .container .contact-form .form-box .input-box textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #094B65;
  font-weight: 500;
}

#contact .container .contact-form .form-box .input-box input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #094B65;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

#contact .container .contact-form .form-box .input-box input[type="submit"]:hover {
  background: #3090A5;
}

@media (max-width : 1200px) {
  #contact .container {
      width: 90%;
      min-width: auto;
      margin: 20px;
      box-shadow: 0 1px 50px 1px rgba(0,0,0,0.2);
  }
  #contact .container .contact-info {
      top: 0;
      height: 550px;
      position: relative;
      box-shadow: none;
  }
  #contact .container .contact-form {
      position: relative;
      width: calc(100% - 350px);
      padding-left: 0;
      margin-left: 0;
      padding: 40px;
      height: 550px;
      box-shadow: none;
  }
}

@media (max-width : 991px) {
  #contact {
    margin-top: 50px;
  }
  #contact .container {
      display: flex;
      flex-direction: column-reverse;
  }
  #contact .container .contact-info,
  #contact .container .contact-form {
      width: 100%;
      height: auto;
  }
  #contact .container .contact-info {
      flex-direction: row;
  }
  #contact .container .contact-info ul.sci {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media (max-width : 600px) {
  #contact .container .contact-form {
      padding: 25px;
  }
  #contact .container .contact-info {
      padding: 25px;
      flex-direction: column;
      align-items: flex-start;
  }
  #contact .container .contact-info ul.sci {
      margin-top: 40px;
  }
  #contact .container .contact-form .form-box .input-box.w50 {
      width: 100%;
  }
}

/*footer*/

/* variables */
:root {
  /* color palette */
  --VeryPaleCyan: #ebfbff;
  --VeryDarkCyan: #00252e;
  --GrayishBlue: #808d99;
  /* root font size: 1rem = 10px */
  font-family: 'Open Sans', sans-serif;
}

/* reset */
footer, p, a, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

footer li {
  list-style-type: none;
  color: #fff;
}
footer .text-gray {
  color: var(--GrayishBlue);
}

/* base styles */
/* styles that won't change by the size of the devices */
footer button {
  border: none;
}

footer .btn {
  cursor: pointer;
}

footer .btn-white {
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 7%);
}

footer .btn-white:hover {
  transform: translate(0px, -2px);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 5%);
}

footer .btn-small {
  padding: 0.3125rem 1.5rem;
}

footer .btn-blue {
  color: white;
  background-color: #094B65;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px #094B6880;
  font-weight: 400;
}

footer .btn-blue:hover {
  transform: translate(0px, -2px);
  box-shadow: 0px 5px 18px #094B6880;
}

footer .content-card {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 7%);
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
}

footer {
  background-color: var(--VeryDarkCyan);
}

footer .cta {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 7%);
  border-radius: 15px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

footer .bottom .info .icon img {
  fill: #fff;
  color: #fff;
  width: 15px;
}

footer p, footer i {
  color: #fff;
}

footer a {
  color: #666600;
}

footer .location,
footer .contact,
footer .email {
  display: flex;
  margin-bottom: 1.5rem;
}

footer .location .icon {
  margin-top: 3.75rem;
}

footer .contact,
footer .email {
  align-items: center;
}

footer .location p,
footer .contact p,
footer .email p {
  margin-left: 1rem;
  line-height: 1.5;
}

footer .socials {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

footer .socials .icon {
  border: 1px solid #fff;
  margin: 0 1rem;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

footer .socials .icon:hover {
  border: 1px solid #666600;
  background-color: #666600;
  box-shadow: 0px 5px 10px #66660380;
  transform: translate(0, -2px);
}

footer .socials .icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9375rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-default {
  font-size: 1rem;
}

.text-l {
  font-size: 1.125rem;
}

.btn-big {
  border-radius: 20px;
  padding: 0.78125rem 0;
  width: 80%;
  max-width: 240px;
}

footer {
  padding: 0 1rem;
}

footer ul li {
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

footer ul li:hover {
  transform: translate(2px, 0);
  color: #666600;
}

footer .cta {
  width: 93.6%;
  transform: translate(0, -6.785rem);
}

footer .cta h1 {
  margin-bottom: 1.5rem;
}

footer .footer-logo {
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: #fff;
}

footer .bottom, footer .copyright {
  margin-bottom: 1.5rem;
}

footer .copyright,
footer .attribution {
  text-align: center;
}

footer {
  padding-bottom: 1.25rem;
}

/* desktop styles */
@media screen and (min-width: 1440px) {
  /* font sizes */
  .text-default {
    font-size: 1.125rem;
  }
  .text-xl {
    font-size: 1.75rem;
  }

  footer {
    padding: 0 7.5rem;
    padding-bottom: 3.125rem;
  }

  footer .cta {
    transform: translate(0, -8rem);
    max-width: 800px;
    padding: 3.375rem;
  }

  footer .cta h1 {
    font-size: 2rem;
    line-height: 1.875;
    margin-bottom: 2rem;
  }

  footer .cta button {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 1,5625rem 0;
    max-width: 400px;
    width: 50%;
    border-radius: 40px;
  }

  footer .bottom {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }

  footer .footer-logo {
    margin-bottom: 2.5rem;
  }

  footer .location p, 
  footer .contact p, 
  footer .email p {
    font-size: 1rem;
  }

  footer .info {
    max-width: 380px;
  }

  footer .copyright, footer .attribution {
    text-align: right;
    max-width: 1440px;
    margin: 0 auto;
  }
}